@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h1>Add a new stylist!</h1>

<h2>Once you add a stylist, you can assign them to a client when you make their file!</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Back to stylists", "Index")</p>
